@use '../../../assets/styles/abstracts/variables.scss' as styles;

* {
  margin: 0;
  padding: 0;

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 0.4rem styles.$blue;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}