@use '../abstracts/variables' as styles;

body {
  font-family: styles.$font-inter;
  font-size: styles.$default-font-size;
  font-weight: 400;
  color: styles.$gray;
  height: 100vh;
  overflow-x: hidden;
}

.h1,
.h2 {
  font-weight: 700;
  text-align: center;
}

.h1 {
  font-size: 3.2rem;
}

.h2 {
  font-size: 1.8rem;  

  span {
    display: block;
    font-size: 1.8rem;  
    font-weight: 700;
  }
}