@use '../abstracts/variables' as styles;

body {
  font-family: styles.$font-inter;
  font-size: 1.6rem;
  font-weight: 400;
  color: styles.$gray;
  height: 100vh;
}

.h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}