@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.form {
  display: grid;
  position: relative;

  &__text-box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4rem;
    width: 100%;
    position: relative;
    margin-bottom: 0.8rem;
  }

  &__title {
    color: styles.$gray;

    &--stub {
      transform: translateY(-0.5rem);
    }

    &--green {
      color: styles.$green;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 23.2rem;
  }

  &__group {
    margin-bottom: 2.4rem;
  }

  &__label {
    display: block;

    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: styles.$gray-8;
  }

  &__input {

    text-align: center;

    &--disabled {
      color: styles.$gray-8;
      pointer-events: none;
      background-color: styles.$gray-5;

      &:focus {
        box-shadow: unset;
      }
    }

    &.ng-invalid:not(.ng-pristine),
    &.ng-touched:not(.ng-valid) {
      border-bottom: 0.3rem solid styles.$red;
    }

    &.ng-pristine {
      border-bottom: 0.3rem solid styles.$blue;
    }
  
    &.ng-valid {
      border-bottom: 0.3rem solid styles.$green;
    }
  }

  &__error {
    display: block;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    position: absolute;
    transform: translateY(-1.4rem);
    transition: styles.$transition-slow;
    opacity: 0;
    visibility: hidden;
    color: styles.$red;
    font-weight: 500;

    &--shown {
      transform: unset;
      opacity: 1;
      visibility: visible;
    }
  }

  &__icon {
    display: flex;
    transform: translateY(-0.1rem);
    margin-right: 0.8rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  &__bookmark {
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
  }
}

