<form [formGroup]="form"
      autocomplete="off"
      class="form block block--default"
      *ngIf="!loadingError">
  <h1 class="form__text-box h1" [ngSwitch]="isLoading">
    <span class="form__title h1" 
        *ngSwitchCase="false"
        [ngClass]="{
          'form__title--green': form.valid
        }">
        
        {{ randomVerb?.infinitive }}
    </span>

    <span *ngSwitchDefault class="form__title--stub h1">...</span>
  </h1>

  <div class="form__wrapper" [ngSwitch]="isLoading">
    <ng-container *ngSwitchCase="false">
      <div class="form__group">
        <label class="form__label"
              for="past">
              Past
        </label>
        
        <input formControlName="past"
              class="form__input"
              id="past" 
              type="text"
              placeholder="2nd form"
              [class.disabled]="past.valid"
              #pastInput
              (input)="onStoreAnswer({ past, pastParticiple })">
    
        <span [class.shown]="hasError(past, 'pastIsCorrect')"
              class="form__error">
              2nd form isn't correct
        </span>
      </div>
      
      <div class="form__group">
        <label class="form__label"
              for="pastParticiple">
              Past participle
        </label>
    
        <input formControlName="pastParticiple"
              class="form__input"
              id="pastParticiple" 
              type="text"
              placeholder="3rd form"
              [class.disabled]="pastParticiple.valid"
              #participleInput
              (input)="onStoreAnswer({ past, pastParticiple })">
    
        <span [class.shown]="hasError(pastParticiple, 'participleIsCorrect')"
              class="form__error">
              3rd form isn't correct
        </span>
      </div>
    
      <button class="btn btn--default"
              #pickBtn 
              type="button"
              (click)="pickVerb()"
              [class.focus]="allowNext">
        <i *ngIf="allowNext" 
            class="form__icon" 
            [inlineSVG]="'check-mark.svg'">
        </i>
    
        <span>{{ !allowNext ? 'Pick another verb' : 'Pick another verb'}}</span>
      </button>
    </ng-container>

    <app-loader [modificator]="'loader__circle--gray'" 
                *ngSwitchDefault>
    </app-loader>
  </div>

  <div [ngSwitch]="isBookmark(randomVerb)" *ngIf="allowNext">
    <i class="form__bookmark star star--solid star--small" 
      *ngSwitchCase="true"
      (click)="deleteBookmark(randomVerb.id)">
    </i>
    <i class="form__bookmark star star--outline star--small" 
      *ngSwitchDefault
      (click)="addBookmark(randomVerb)">
    </i>
  </div>
</form>

<app-error class="verbs__error" 
           [mode]="'randomVerb'" 
           (hookRandomVerbAfterError)="randomVerb = $event">
</app-error>