@use '../../styles/abstracts/variables.scss' as styles;

.bookmark {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  transition: styles.$transition;
  cursor: pointer;

  &--regular {
    height: 3.2rem;
    width: 3.2rem;

    &::before {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &--small {
    height: 2.4rem;
    width: 2.4rem;

    &::before {
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  &:hover {
    background-color: styles.$gray-5;
  }

  &::before {
    content: '';
    background: url(../../icons/bookmark-outline.svg) no-repeat 50%;
    display: inline-block;
  }
}