@use '../../../assets/styles/abstracts/variables' as styles;

.pagination {
  &__btn {
    i {
      display: inline-block;
      height: 1.6rem;
      width: 1.6rem;

      svg {
        height: 100%;
        width: 100%;
        fill: styles.$gray;
      }
    }

    &--disabled {
      i {
        svg {
          cursor: not-allowed;
          fill: styles.$gray-5;
        }
      }
    }
  }
}