@use '../abstracts/variables' as styles;

.table {
  &__head,
  &__body-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 3.2rem;
  }

  &__head {
    border-bottom: 0.1rem solid styles.$gray-5;
    background-color: styles.$gray-1;
    grid-column: 1 / 3;

    span {
      padding: 0.8rem 1.6rem;

      border-right: 0.1rem solid styles.$gray-5;
    }
  }

  &__item {
    font-weight: 700;
    color: styles.$black;

    span {
      display: block;
      padding: 0.8rem 0.8rem 0.8rem 1.6rem;
    }

    &:nth-child(1) {
      background-color: styles.$orange;
    }

    &:nth-child(2) {
    
      background-color: styles.$green;
      
    }

    &:nth-child(3) {
      background-color: styles.$blue;
      
    }
  }

  &__body-row {
    &:last-child {
      .table__item {
        padding-bottom: 0.8rem;
      }
    }

    &:nth-child(odd) {
      .table__item {
        span {
          padding: 0.8rem;
          margin: 0.8rem;
        }

        &:nth-child(1) {
          span {
            box-shadow: inset -0.4rem -0.1rem 0 0 styles.$orange-10;
            background-color: styles.$orange-20;
          }
        }

        &:nth-child(2) {
          span {
            box-shadow: inset -0.4rem -0.1rem 0 0 styles.$green-10;
            background-color: styles.$green-20;
          }
        }

        &:nth-child(3) {
          span {
            box-shadow: inset -0.4rem -0.1rem 0 0 styles.$blue-10;
            background-color: styles.$blue-20;
          }
        }
      }
    }
  }

  &__bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: styles.$gray-1;
  }
}
