@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3.2rem;
    width: 3.2rem;
    border: unset;
    background: unset;
    cursor: pointer;
    transition: styles.$transition;
    border-radius: 50%;

    &:hover {
      background-color: styles.$gray-1;
    }

    &--disabled {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__select {
    background-color: styles.$white;
    border: 0.1rem solid styles.$gray-5;
    padding: 0.2rem;
    appearance: none;
    outline: 0;
    cursor: pointer;
    margin: 0 0.8rem;
    font-size: 1.8rem;
    text-align: center;

    option {
      color: inherit;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(styles.$black, 0.1);
    }

    &::-ms-expand {
      display: none;
    }
  }
}