<nav class="pagination">
  <button class="pagination__btn" 
          (click)="navigatePage('prevStart')" 
          [class.pagination__btn--disabled]="!getPrevAllowed()"
          [disabled]="!getPrevAllowed()"
          >
    <i [inlineSVG]="'arr-prev-start.svg'"></i>
  </button>
  <button class="pagination__btn" 
          (click)="navigatePage('prev')" 
          [class.pagination__btn--disabled]="!getPrevAllowed()"
          [disabled]="!getPrevAllowed()">
    <i [inlineSVG]="'arr-prev.svg'"></i>
  </button>

  <select class="pagination__select br" 
          [(ngModel)]="currentPage" 
          (click)="navigatePage()">
    <option *ngFor="let page of pages" [value]="page">{{ page }} of {{ pages.length }}</option>
  </select>

  <button class="pagination__btn" 
          (click)="navigatePage('next')" 
          [class.pagination__btn--disabled]="!getNextAllowed()"
          [disabled]="!getNextAllowed()">
    <i [inlineSVG]="'arr-next.svg'"></i>
  </button>

  <button class="pagination__btn" 
          (click)="navigatePage('nextEnd')" 
          [class.pagination__btn--disabled]="!getNextAllowed()"
          [disabled]="!getNextAllowed()">
    <i [inlineSVG]="'arr-next-end.svg'"></i>
  </button>
</nav>
