@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 44rem;

  &__input {
    margin-top: 1.6rem;
    min-width: 42rem;
    width: 100%;

    &:focus + .search__body {
      box-shadow: 0 2rem 2rem rgba(styles.$black, 0.1);
    }
  }

  &__body {
    width: 100%;
    background-color: styles.$white;
    border-top: 0.1rem solid styles.$gray-1;
    padding: 0.4rem 0.8rem;
    margin-top: -0.1rem;
    opacity: 0;
    visibility: hidden;
    line-height: 2rem;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    .ps-content {
      margin-right: 0.8rem;
      max-height: 22rem; 
    }
    
    .ps__rail-y {
      margin: 0.8rem 0;
      background-color: unset !important;
    }
  }

  &__list {
    &--overflow {
      max-height: 22rem;
    }
  }

  &__item {
    padding: 0.8rem;
    cursor: pointer;
    transition: styles.$transition;
    font-weight: 500;

    span {
      &:not(:last-child) {
        margin-right: 0.8rem;
        padding-right: 0.8rem;
        border-right: 0.1rem solid styles.$gray-5;
      }
    }

    &:hover {
      background-color: styles.$gray-1;
    }
  }

  &__no-found {
    padding: 0 0 0 0.8rem
  }
}
