@use '../../../../assets/styles/abstracts/variables.scss' as styles;

:host {
  display: block;
}

.practice {
  display: grid;
  justify-items: center;
  align-items: center;

  padding: 6.4rem 0 9.6rem;

  &__wrapper {
    background-color: #f0f0f0;
    padding: 6rem;
    border-radius: 0.2rem;
  }

  &__title {
    margin-bottom: 2.4rem;
    color: styles.$green;
  }
}

