@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
  height: 100%;

  & > * {
    height: 100%;
  }
}

.verbs {
  transition: styles.$transition;

  &--gray {
    background-color: styles.$gray-1;
  }

  &__row{
    max-width: 42rem;
    margin: 0 auto;
  }

  &__error {
    margin-top: 2.4rem;
  }
}
