@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
  height: 100%;

  & > * {
    height: 100%;
  }
}

.verbs {
  display: flex;
  background-color: styles.$gray-1;

  &__error {
    margin-top: 2.4rem;
  }
}
