@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.bookmarks {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2.4rem;
  }
}
