<section class="section">
 <div class="container">
 
  <h1 class="h1">Bookmarks</h1>
  
  <app-search (bookmarkValue)="onSearchBookmarkValue($event)"
              [modificator]="'search--bookmarks'"
              [mode]="'bookmarks'">
  </app-search>
  
  <ul class="bookmarks__wrapper">
    <li class="bookmarks__bookmark" *ngFor="let bookmark of bookmarks | searchVerb:searchValue">
      <span>{{ bookmark.infinitive }}</span>
      <span>{{ bookmark.past }}</span>
      <span>{{ bookmark.pastParticiple }}</span>
      <i class="bookmarks__star star star--solid star--small" 
          (click)="deleteBookmark(bookmark.id)">
      </i>
    </li>
  </ul>

 </div>
</section>
