:host {
  display: block;
}

.bookmarks {
  display: grid;
  
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3.2rem;
  }

  &__bookmark {
    display: flex;
    flex-direction: column;
  }
}
