<section class="bookmarks container">
  <div class="bookmarks__wrapper wrapper">
    <input type="text" [(ngModel)]="searchValue">
    <h1 class="h1">Bookmarks</h1>
    <ul *ngFor="let bookmark of bookmarks | searchVerb:searchValue">
      <li class="bookmarks__bookmark">
        <span>{{ bookmark.infinitive }}</span>
        <span>{{ bookmark.past }}</span>
        <span>{{ bookmark.pastParticiple }}</span>
        <i class="bookmarks__star star star--solid star--small" 
           (click)="deleteBookmark(bookmark.id)">
        </i>
      </li>
    </ul>
  </div>
</section>
