@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.header {
  background-color: styles.$gray;
  height: 5.6rem;

  &__container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    height: 100%;
  }

  &__logo {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      
      text-decoration: none;
      font-size: 2.4rem;
      color: styles.$white;
      transition: styles.$transition;
    }

    &:hover span {
      transition: styles.$transition;
      transform: rotate(360deg);
    }
  }

  &__nav {
    transition: styles.$transition;
    & > *  {
      height: 100%;
    }

    button {
      padding: 0.8rem 2rem;
      cursor: pointer;
      transition: styles.$transition;
      border: unset;
      font-size: inherit;
      color: styles.$white;
      background: unset;

      &.active,
      &:active,
      &:hover {
        background-color: styles.$gray-10;
      }

      &:not(:last-child) {
        margin-right: 0.8rem;
      }
    }

    &--bookmarks {
      transform: translateX(-10rem);

      .header__bookmarks-tab {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__bookmarks-tab {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}


