<header class="header">
  <div class="header__container container">
    <a href="https://iverb.huckbit.com/" target="_blank" class="header__logo">
      <span>🎓</span> iVerb 
    </a>

    <nav class="header__nav" [class.header__nav--bookmarks]="bookmarks.length">
      <button routerLinkActive="active" routerLink="/practice">Practice</button>
      <button routerLinkActive="active" routerLink="/verbs">Verbs</button>

      <button [class.active]="flashClass"
              class="header__bookmarks-tab"
              routerLinkActive="active" 
              routerLink="/bookmarks">
              Bookmarks
      </button>
    </nav>
  </div>
</header>
