<div class="search">
  <input class="search__input input br" 
         type="text" 
         placeholder="... start typing"
         [(ngModel)]="searchVerb"
         (input)="inputSearchValue()">

  <perfect-scrollbar class="search__body br" 
                     [class.search__body--visible]="searchVerb"
                     [config]="config">

    <ul class="search__list">
      <li class="search__item" 
          *ngFor="let verb of verbs | searchVerb:searchVerb"
          (click)="openVerb(verb)">
          <span>{{ verb.infinitive }}</span>
          <span>{{ verb.past }}</span>
          <span>{{ verb.pastParticiple }}</span>
      </li>

      <figure class="search__no-found" *ngIf="!(verbs | searchVerb:searchVerb).length">
        <span>🙄</span>
        <figcaption>No verbs was found</figcaption>
      </figure>

    </ul>
  </perfect-scrollbar>
</div>

