@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 44rem;
  position: relative;

  &__input {
    min-width: 42rem;
    width: 100%;

  }

  &__body {
    width: 100%;
    background-color: styles.$white;
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    line-height: 2rem;
    position: absolute;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    top: 5.7rem;

    &--visible {
      opacity: 1;
      visibility: visible;
      min-height: 22rem;
      z-index: 1;
    }
  }

  &__item {
    padding: 0.8rem;
    cursor: pointer;
    transition: styles.$transition;
    font-weight: 500;

    span {
      &:not(:last-child) {
        margin-right: 0.8rem;
        padding-right: 0.8rem;
        border-right: 0.1rem solid styles.$gray-5;
      }
    }

    &:hover {
      background-color: styles.$gray-1;
    }
  }

  &__no-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: styles.$alert-bg;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 6rem;
      width: 6rem;
      margin-bottom: 2.4rem;
      font-size: 5rem;
    }
    
    figcaption {
      font-size: 2.4rem;
      font-weight: 500;
    }
  }

  &__clear {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    bottom: 0.8rem;
    border: unset;
    background-color: unset;
    background-color: styles.$blue-20;
    cursor: pointer;
    color: styles.$blue-30;
    padding: 0 1.6rem;
    transition: styles.$transition;

    &:hover {
      background-color: darken(styles.$blue-20, 5%);
    }

  }
}
