@use '../../../../assets/styles/abstracts/variables' as styles;

:host {
  display: block;
}

.tabview {
  display: flex;
  margin-bottom: 1.6rem;
  max-width: 42rem;

  &__button {
    font-size: 1.8rem;
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    background-color: styles.$gray-5;

    span {
      display: inline-block;
      transform: translateY(0.1rem);
    }

    &:not(:last-child) {
      margin-right: 2.4rem;
    }

    &--active {
      background-color: styles.$gray-5;
      box-shadow: inset 0.5rem 0 0 0 styles.$green;
    }
  }

  & > * {
    flex: 1;
  }
}
