<form class="form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      autocomplete="off">
  <div class="form__group">
    <label class="form__label"
           for="past">
           Past
    </label>
    
    <input formControlName="past"
           class="form__input"
           id="past" 
           type="text"
           placeholder="2nd form">

    <span [class.shown]="hasError(past, 'required') && hasError(past, 'pastIsCorrect')"
          class="form__error">
      field is required
    </span>

    <span [class.shown]="hasError(past, 'pastIsCorrect') && !hasError(past, 'required')"
          class="form__error">
      2nd form isn't correct
    </span>

  </div>
  
  <div class="form__group">
    <label class="form__label"
           for="pastParticiple">
           Past participle
    </label>

    <input formControlName="pastParticiple"
           class="form__input"
           id="pastParticiple" 
           type="text"
           placeholder="3rd form">

    <span [class.shown]="hasError(pastParticiple, 'required') && hasError(pastParticiple, 'participleIsCorrect')"
           class="form__error">
          field is required
    </span>

    <span [class.shown]="hasError(pastParticiple, 'participleIsCorrect') && !hasError(pastParticiple, 'required')"
          class="form__error">
          3rd form isn't correct
    </span>
  </div>

  <!-- <button class="form__button">Check</button> -->
</form>
