// FONTS
$font-inter: 'Inter', sans-serif;

// COLORS
$white: #ffffff;
$black: #000000;

$blue: #6b8ff6;
$green: #1abd9c;
$orange: #eb6112;
$red: #f03e3e;

$gray: #343a40;
$gray-1: #f0f0f0;
$gray-5: #d5d5d6;
$gray-8: #aaaaab;
$gray-10: #484e53;

// TRANSITIONS
$transition: all 0.5s;
$transition-slow: all 0.2s ease-out;